#main-content-container {
    height: 100vh;
}

#app-container {
    height: 85%;
}

#frame {
    height: 100%;
    width: 100%
}

/* Overlay for the iframe */
#overlay {
    z-index: 2;
    position: absolute;
    top: 3vh;
    right: 5vw;
}

.progress {
    height: 5px;
}
